<div class="top">
      <header>
      <div class="headerbg">
        <h1><a href="index.html"><img src="images/white_logo.png" alt="마마스로고"></a></h1>
        <div class="menubutton" id="menuButton">
          <img src="images/menu.png" alt="메뉴 버튼">
        </div>
        <div class="menutext">
          <a href="member.html">가맹 문의</a>
        </div>
        <nav class="headernav" id="headerNav">
          <a href="index.html" class="active">HOME</a>
          <a href="about.html">BRAND</a>
          <a href="menu.html">MENU</a>
          <a href="notice.html">NOTICE</a>
          </nav>
        </div>
      </header>
    </div>